.App {
  /* background-color: #282c34; */
  background-color: #fbfbfd;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  width: 42px;
  height: 42px;
}
