.BookmarkList {
  text-align: left;
}

.BookmarkList ul {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 54px;
}

.BookmarkList ul,
.BookmarkList li {
  list-style: none;
  padding-left: 0px;
}

.BookmarkList-folder-title {
  color: #282c34;
  font-size: 1.17em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
